<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
          nam pariatur minima eveniet ipsum repellendus dolor aspernatur
          tempora, sint excepturi voluptatem vero at maxime delectus incidunt.
          Adipisci praesentium in aspernatur laboriosam saepe sed consectetur
          deleniti nostrum numquam quidem repudiandae dolore velit possimus
          architecto quibusdam odio eum ducimus corporis, soluta, optio
          consequatur exercitationem voluptatum ipsam placeat? Laudantium
          dolorum fugit facilis vitae rerum hic ipsum odio assumenda sapiente
          veritatis non dolorem illum voluptate tempore corrupti sed facere ut
          dolor, quia numquam molestias. Quibusdam iste hic facere ut accusamus
          asperiores dicta impedit ratione veritatis quas fugit, temporibus
          minus reiciendis autem tempore, sint, quos necessitatibus! Repellat
          quod maxime quaerat est impedit, tempora rerum libero animi illo vel
          hic, rem consectetur id similique unde earum? Culpa suscipit inventore
          at eum quos aspernatur. Repellendus quisquam corporis hic omnis,
          molestias quis ullam sed. Provident ex porro aperiam! Exercitationem,
          minus illum incidunt error nemo quaerat odio minima doloremque
          provident sint unde et, quo saepe assumenda fugiat possimus
          dignissimos delectus quisquam sit deserunt tempore recusandae quidem a
          in. Dolorem at id rem ullam neque necessitatibus laboriosam repellat
          esse nihil optio magni dolores amet, dignissimos distinctio!
          Blanditiis, beatae sapiente vitae corporis doloremque necessitatibus
          ab expedita similique! Culpa quod pariatur optio corporis error ex,
          fuga necessitatibus a aliquid, harum hic soluta, omnis expedita
          ducimus! Temporibus, vel? Earum at sed accusamus quod minus impedit
          sit aliquid ad, vero temporibus quia optio corporis! Distinctio sint
          nobis earum molestiae hic minima deserunt aut cum necessitatibus ipsa
          facilis, dignissimos laudantium officia, fuga beatae error. Dolore,
          tenetur veniam? Deserunt eius animi tenetur necessitatibus odio quia
          excepturi itaque ducimus? A laboriosam ratione possimus deleniti
          nobis, et id. Amet est voluptatibus magnam culpa eum quod pariatur
          harum eos voluptates vitae! Perferendis iure magnam optio cupiditate
          amet, iusto dolorem quaerat provident vero, explicabo adipisci!
          Delectus autem quasi porro quia!
        </p>
      </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
